html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}

#root {
    position: relative;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
}

:root {
    --unauthorized-navigation-panel-section-item-color: rgb(128, 128, 128);
    --navigation-panel-font-family: 'Verdana';
}
